In [1]:
import pandas as pd

In [37]:
df = pd.DataFrame(columns=['desc_nifty_c', 'desc_banknifty_c', 'desc_nifty_p', 'desc_banknifty_p'])
df.loc[0] = ['NIFTY 18JAN2024 CE 21850', 'BANKNIFTY 17JAN2024 CE 47800', 'NIFTY 18JAN2024 PE 21850', 'BANKNIFTY 17JAN2024 PE 47800']
df.loc[1] = ['59314', '35506', '59315', '35507']
print('\ndf=\n',df)

n = len(df.columns)
print('\nno of cols ', n)

# print('\n df iloc \n', df.iloc[0,0], df.iloc[1,0], df.iloc[0,1], df.iloc[1,1])

l1 = ['NIFTY 18JAN2024 CE 21850', 'BANKNIFTY 17JAN2024 CE 47800', 'NIFTY 18JAN2024 PE 21850', 'BANKNIFTY 17JAN2024 PE 47800']
l2 = ['59314', '35506', '59315', '35507']

f=[]
for i in range(n):
    for j in range(2):
        f.append(df.iloc[j:i])
print('\n f is \t',f)
l = []
for i in range(n):
    for j in range(2):
        l.append({'exchangeSegment':2, 'exchangeInstrumentID':df.iloc[j:i]})
# print('\ndf to list of dict\n', dtl)
# print('\nlist of dict \n', l)

ValueError: cannot set a frame with no defined columns

In [38]:
from datetime import datetime

def convert_date_format(input_date):
    # Convert string to datetime object
    date_object = datetime.strptime(input_date, "%Y-%m-%d")

    # Format the datetime object as required
    formatted_date = date_object.strftime("%d%b%Y")

    return formatted_date

# Example usage
input_date = "2024-01-25"
result = convert_date_format(input_date)
print(result)

25Jan2024

In [39]:
def update_dictionary(dictionary, key, value):
    if key in dictionary:
        dictionary[key] = value
    else:
        dictionary[key] = value

# Example usage:
my_dict = {'a': 1, 'b': 2, 'c': 3}

update_dictionary(my_dict, 'b', 5)  # Update existing key
update_dictionary(my_dict, 'd', 4)  # Add new key-value pair

print(my_dict)

{'a': 1, 'b': 5, 'c': 3, 'd': 4}

In [46]:
data = {'result': ['2024-01-25T14:30:00',
  '2024-01-25T14:30:00',
  '2024-02-29T14:30:00',
  '2024-01-25T14:30:00',
  '2024-03-28T14:30:00',
  '2024-02-29T14:30:00']}

ex_list = []
df = data.get('result',[])
print(type(df))
for i in range(len(df)):
    ex_list.append(df[i].split('T')[0])
print(ex_list)
print(df)

<class 'list'>
['2024-01-25', '2024-01-25', '2024-02-29', '2024-01-25', '2024-03-28', '2024-02-29']
['2024-01-25T14:30:00', '2024-01-25T14:30:00', '2024-02-29T14:30:00', '2024-01-25T14:30:00', '2024-03-28T14:30:00', '2024-02-29T14:30:00']

In [2]:
import pandas as pd

df = pd.read_excel(r"C:\Users\vipulanand\Documents\Anand Rathi Financial Services Ltd (Synced)\OneDrive - Anand Rathi Financial Services Ltd\Book 1.xlsx")
print('\n df is\n', df)

 df is
         absd    2  sdf
0  sejhgvads    2  zdc
1          1  sdf   cv
2          2  zdc  sdf
3         34   cv  zdc